body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.sidebar{
    background-color: aqua;
    grid-row: 1/3;
}

.header{

}

.main{
    background-color: lightgray;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.projects{
    grid-row: 1/3;
}

.projects-grid{

}

.announcements{

}

.announcements-list{

}

.trending{

}

.trending-list{

}