/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body{
    --sidebar-maxWidth: 240px;
    --main-boxShadow: 1px 1px 2px gray;

    min-height: 100vh;
    min-width: 100vw;

    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    --sidebar-gridRows: 1 / span 2;

    font-family: sans-serif;
}

h1{
    font-size: 2em;
    padding: 0rem 1rem 1rem;
    height: fit-content;
}

h2{
    font-size: 1.5em;
    margin: 0.5em 0px;
}

p{
    color: gray;
}

.sidebar{

    padding: 2rem;

    background-color: aqua;
    grid-row: var(--sidebar-gridRows);

    max-width: var(--sidebar-maxWidth);
}

.header{
    background-color: white;

    width: auto;
    padding: 2rem;

    box-shadow: var(--main-boxShadow);
    position: relative; /* enables box-shadow to show over sibling .main */
}

.main{
    --header-maxHeight: 180px;

    background-color: lightgray;
    flex: 1;

    display: grid;
    grid-template-columns: auto min-content;
    grid-template-rows: repeat(2, auto 1fr);
    --projects-gridRows: 2 / span 3;

    padding: 2rem;
}

.main .card{
    --card-borderRadius: 0.5rem;
    
    background-color: white;
    border-radius: var(--card-borderRadius);
    box-shadow: var(--main-boxShadow);

    margin: 1rem;
    padding: 2rem;
}

.projects{
    grid-row: var(--projects-gridRows);
    --grid-maxWidth: 360px; 
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--grid-maxWidth), 1fr));
    grid-template-rows: repeat(auto-fit, minmax(120px, 1fr));
}

.projects .card{
    border-left: var(--card-borderRadius) solid orange;
    display: flex;
    flex-direction: column;
}

.projectCard-content{
    margin-bottom: auto;
    flex: 1;
}

.projectCard-icons{
    display: flex;
    justify-content: right;
}

.projectCard-icons img{
    height: auto;

    width: 20%;
    max-width: 1.5rem;

    margin-left: min(10%, 1.5rem);
}

.rightBar{
    display: flex;
    flex-direction: column;
    width: fit-content;

    grid-row: -1 / 1;
    grid-column: -2 / -1;
}

.announcements{
    height: auto;
    font-size: 0.75em;
    flex: 1;
}

.trending{
    height: auto;
    font-size:0.75em;
    flex: 1;
}